[Desktop Entry]
Version=1.0
Type=Application

Name=Full Steam Ahead
Comment=A desktop app to import games from other launchers into Steam
Categories=Game;Utility;
Keywords=Steam;Heroic;Lutris;Itch;Bottles;Legendary;MiniGalaxy;Flatpak;Non-Steam;Games;

Icon=dev.creeperkatze.full-steam-ahead
Exec=full-steam-ahead
Terminal=false
StartupNotify=true
StartupWMClass=Full Steam Ahead
