:root {
	--vp-c-brand-1: #1a9fff;
	--vp-c-brand-2: #2fabff;
	--vp-c-brand-3: #47b4ff;
	--vp-c-brand-soft: #1a9fff24;
	--vp-c-brand-bg: var(--vp-c-brand-1);
	--vp-button-brand-bg: var(--vp-c-brand-1);
	--vp-button-brand-hover-bg: var(--vp-c-brand-2);
	--vp-button-brand-active-bg: var(--vp-c-brand-3);
}

.dark {
	--vp-c-brand-1: #1a9fff;
	--vp-c-brand-2: #2fabff;
	--vp-c-brand-3: #47b4ff;
	--vp-c-brand-soft: #1a9fff2e;
	--vp-c-brand-bg: var(--vp-c-brand-1);
}
